<!DOCTYPE html>
<html>
	<head>
		<meta charset='UTF-8'>
		<title>The Wall</title>
		{% load staticfiles %}
		<link rel="stylesheet" href="{% static '/css/main.css' %}" media="screen">
		<link rel="stylesheet" href="{% static '/loginreg/css/loginreg.css' %}" media="screen">
	</head>
	<body>
		{% include "templates/nav.html" %}
		<div class="form-block">
			<h2>Register.</h2>
			<form class="" action="/try/1" method="post">{% csrf_token %}
				{% for field in reg_form %}
				{% if field.errors %}
				{% for error in  field.errors %}
				<p class="form-error">{{ error }}</p>
				{% endfor %}
				<div class="control-group error">
					{{ field.label_tag }}
					{{ field }}
					<div class="controls">
					</div>
				</div>
				{% else %}
				<div class="form-group">
					{{ field.label_tag }}
					{{ field }}
				</div>
				{% endif %}
				{% endfor %}
				<input type="submit" name="" value="Register">
			</form>
		</div>
		<div class="form-block">
			<h2>Login.</h2>
			<form class="" action="/try/2" method="post">{% csrf_token %}
				{% if log_form.errors %}
					{% for error in log_form.non_field_errors %}
						<p class="form-error">{{ error }}</p>
					{% endfor %}
				{% endif %}
				{% for field in log_form %}
				<div class="form-group">
					{{ field.label_tag }}
					{{ field }}
				</div>
				{% endfor %}
				<input type="submit" name="" value="Login">
			</form>
			<p>Forgot your password?</p>
			<a href="/pw_change">Reset</a>
		</div>
	</body>
</html>
