<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load staticfiles %}
		<link rel="stylesheet" href="{% static '/css/main.css' %}" media="screen">
		<link rel="stylesheet" href="{% static '/loginreg/css/loginreg.css' %}" media="screen">
        
    </head>
    <body>
        {% include "templates/nav.html" %}
       <form action="{% url 'user:edit' id %}" method="post">{% csrf_token %}
            {% for field in form %}
            {% if field.errors %}
				{% for error in  field.errors %}
				<p class="form-error">{{ error }}</p>
				{% endfor %}
            <div class="control-group error">
                {{ field.label_tag }}
                {{ field }}
                <div class="controls">
                </div>
            </div>
            {% else %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
            </div>
            {% endif %}
            {% endfor %}
            <input type="submit" name="" value="Register">
        </form>
    </body>
</html>

