<!DOCTYPE html>
<html>
    {% load render_bundle from webpack_loader %}
    <head>
        <meta charset="UTF-8" />
        <title>Hello React!</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
              rel="stylesheet" 
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
              crossorigin="anonymous">
        {% render_bundle 'main' 'css' %}
    </head>
    <body>
        <div class="container"></div>

        <!-- Main -->
        {% render_bundle 'main' 'js' %}
    </body>
</html>
