.hello {
    font-weight: bold;
    color: green;
}
.registration-form{
    text-align: center;
}
.user-form {
    vertical-align: top;
    text-align: left;
    margin: 0 20px;
    display:inline-block;
    width: 40%;
}
.user-form label {
    display:block;
}
.user-form button {
    margin-top: 5px;
}
.form-group-error {
    color: red;
    font-weight: bold;
}
.wall-post{
    min-height: 185px;
    background-color: #bdbdbd;
    border-radius: 15px;
    padding: 15px;
}
.wall-comment{
    border-bottom:solid 1px black;
    margin-left:10px;
    padding: 5px;
}
.wall-comment:first-child{
    border-top:solid 1px black;
    margin-top: 5px;
}
